# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
.env.local
.env.test

# Build folders
dist/
build/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel